@charset "utf-8";
@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}
*{
    margin: 0 auto;
    padding: 0;
    
}


body {
    background-color: #ddcb6e;
}

nav > ul {
   list-style: none;
}
nav > ul > li {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black;
    display: inline;
    margin: 10px 20px;
    border-radius: 7px;
    color: white;
    border: 0px;
    padding: 0px;
}

li:hover {
    background-color: #4b8b3f;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    margin:10px
}

div#menu {
    background-image: linear-gradient(#59c444, #4B6B45);
    padding-top: 15px;
    padding-bottom: 10px;
}

div > nav > h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 2px 3px black;
    color: white;
    margin-top:5px;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

div > nav > h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.74);
    color: white;
    margin: 40px 10px  80px 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}

main {
    text-align: justify;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 5px 6px 15px #6e6019;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;

}
main > h1 {
    margin: 0px;
    text-align: left;
   font-family: android;
   color: #306B24;
   padding-top: 5px;
   padding-left: 10px;
   padding-bottom: 18px;
   font-weight: lighter;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    text-indent: 30px;
}
main > h2 {
    background-image: linear-gradient(to right,#6AEB50, #a6ee98bb, #e2e9e17c, #ffffff00);
    font-family:android;
    text-align: left;
    line-height: 28px;
    text-indent: 30px;
    color: #306B24;
}
div.imagens {
    text-align: center;
    margin-top: 20px;
    padding: 0px;
}

div#video {
    background-color: rgb(26, 68, 26);
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    margin: 0px 19px 0px 19px
}
